<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script></script>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <!-- <script src="js/materialize.min.js"></script> -->
    <title>
        <%= title %>
    </title>
</head>

  <!-- these 2 tags are closed in footer -->
<body>
<main>
