<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>



<body>
    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">

        <!-- Navbar goes here -->

        <!-- Page Layout here -->
        <div class="row">
            <div id="main" class="nine columns">

                <!-- The above form looks like this -->
                <form action="/my-handling-form-page" method="post">

                    <div class="six columns">
                        <label for="name">Name:</label>
                        <input class="u-full-width" type="text" id="name" name="user_name" />



                        <label for="msg">Size:</label>
                        <select class="u-full-width" name="coffee size">
                            <option value="small">small</option>
                            <option value="meduim">meduim</option>
                            <option value="large">large</option>
                            <option value="large">giant</option>
                        </select>

                        <br>
                        <button type="submit">Send your message</button>

                    </div>


                    <div class="six columns">

                        <label for="mail">Coffee type:</label>
                        <select class="u-full-width" class="u-full-width" name="Icecream Flavours">
                            <option value="Latte">Caffé Latte</option>
                            <option value="Cappuccino">Cappuccino</option>
                            <option value="Espresso">Espresso</option>
                            <option value="White">The Flat White</option>
                        </select>

                        <label for="name">Sugars:</label>
                        <input class="u-full-width" type="text" id="name" name="user_name" />

                    </div>
                    <div>

                    </div>
                </form>

            </div>

            <div id="lists" class="three columns">
                <div class="list-col">
                    <div>Order 1 <i class="fa fa-pencil" aria-hidden="true"></i></div>
                    <div>Order 2 </div>
                    <div>Order 3 </div>
                    </ul>

                </div>
            </div>
            <footer>
                <% include ../partials/footer %>
            </footer>
</body>

</html>
