
    <div class="container">

        <!-- Navbar goes here -->

        <!-- Page Layout here -->
        <div class="row">






            <div id="main" class="five columns">

                <!-- The above form looks like this -->
                <form action="/update/<%= coffee.id %>" method="post">


                        <label for="coffee">Name:</label>
                        <input class="u-full-width" type="text" id="customer_name" name="customer_name" value="<%=coffee.customer_name%>" />

                        <label for="coffee">Size:</label>
                        <select class="u-full-width" name="size">
                            <option value="1">small</option>
                            <option value="2">meduim</option>
                            <option value="3">large</option>
                            <option value="4">giant</option>
                        </select>

                        <label for="coffee">Coffee type:</label>
                        <select class="u-full-width" class="u-full-width" name="coffee_type">
                            <option value="Latte">Caffé Latte</option>
                            <option value="Cappuccino">Cappuccino</option>
                            <option value="Espresso">Espresso</option>
                            <option value="White">The Flat White</option>
                        </select>

                        <label for="coffee">Sugars:</label>
                        <input class="u-full-width" type="text" id="name" name="sugar" value="<%= coffee.sugar%>" />

                          <p>&nbsp</p>
                        <button type="submit">Send your message</button>


                </form>

            </div>
          </div>
        </div>
